{% extends "base_template.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h1 class="h2 mb-3"><b>TwoFactorTest</b></h1>

<h2>Scan this QR Code in Google Authenticator</h2>
    <img src="data:image/png;base64,{{qr_b64}}">
    <form action="{{ url_for('auth.verify_2fa') }}" method="post">
        {{ form.code.label(class="form-label") }}
        {{ form.code(class="form-control",placeholder="Temporary Code") }}
        {% for error in form.code.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.submit(class="btn btn-primary") }}
    </form>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('auth.scripts') }}"></script>
{% endblock %}